.note_card {
  width: calc(90% / 3);
  height: 250px;
  padding: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 8px;
  overflow-y: scroll;
  text-align: left;
  position: relative;
}

.del_icon {
  color: red;
  font-weight: 200;
  position: absolute;
  top: 10px;
  right: 10px;
}
