.note_container {
  width: 100vw;
  height: auto;
  /* min-height: 100vh; */
  padding: 40px 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap: 20px;
}

.note {
  width: calc(90% / 3);
  height: 200px;
  border: 0.3px solid rgb(228, 228, 228);
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.form_group input {
  height: 30px;
}

.form_group button {
  height: 30px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
}

.form_group textarea {
  height: 100px;
}

.form_edit {
  display: flex;
  flex-direction: column;
}
