.note_container {
  width: 100vw;
  height: auto;
  /* min-height: 100vh; */
  padding: 40px 8%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  gap: 10px 10px;
}

.note {
  width: 100%;
  overflow-y: scroll;
  border: 0.3px solid rgb(228, 228, 228);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  background-color: white;
}

.note_body,
.note_title {
  text-align: left;
}

.form_group input {
  height: 30px;
}

.form_group button {
  height: 30px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
}

.form_group textarea {
  height: 100px;
}

.form_edit {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .note_container {
    width: 100vw;
    height: auto;
    /* min-height: 100vh; */
    padding: 40px 8%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 8px 8px;
  }
  .note {
    width: 100%;
    height: auto;
    border: 0.3px solid rgb(228, 228, 228);
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
}
