.register {
  width: 40vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 0.2px solid rgb(221, 221, 221);
}
